{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shop.css') }}"/>
{% endblock %}

{% block content %}
    <section class="shop-section">
        <div class="about-intro">
            <h3 class="about-heading">Our Latest Collection</h3>
        </div>
        <div class="card-container">
            {% for product in products %}
            <a class="product-link" href="/shop/{{ product.slug }}">
                <div class="card">
                    <div class="image-div">
                        <img class="card-image" src="{{ product.images[0] }}" alt="">
                        <img class="wishlist-icon" src="{{ url_for('static', filename='icons/favorite_32dp_000000_FILL0_wght500_GRAD0_opsz40.svg') }}" alt="">
                    </div>
                    <h3 class="product-name">{{ product.name }}</h3>    
                    <h3 class="product-price">₹ {{ "{:,.1f}".format(product.price) }}</h3>
                </div>
            </a>
            {% endfor %}
            
        </div>
    </section>

{% endblock %}